.main-detail{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    gap: 40px;
}

.child{
    font-weight: bold;
    font-size: 18px;
}

.box-1{
    width: 350px;
    height: 25vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box-2{
    width: 350px;
    height: 25vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box-3{
    width: 350px;
    height: 25vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}