.main-box{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 88%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
}
.text-content{
    padding: 0px 15px;
}

.para{
    padding: 10px 0px;
}
.hero-image{
    width: 600px;
}


@media(max-width:950px){
    .hero-image{
        width: 500px;
    }
}

@media(max-width:850px){
    .hero-image{
        width: 400px;
    }
}

@media(max-width:755px){

    .hero-image{
        width: 300px;
    }
    .head{
        font-size: 18px;
    }

}

@media (max-width: 754px) {
    .main-box {
      flex-direction: column;
      height: auto;
    }
  
    .text-content {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start; 
      align-items: flex-start; 
      padding: 20px;
    }
  
    .hero-image {
      width: 100%;
      height: auto; 
    }
  }